/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Color Palette */
:root{
    --redVine: #BA494B;
    --roseHip: #E5CBC1;
    --antique: #F0E7DA;
    --rainStorm: #A6B4B3;
    --Linen: #E3E4E0;
    
}
/* ===================================== */
/* https://materialdesignicons.com/ */
/* ===================================== */
/* CSS STARTS HERE */

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
}
/* Sidebar Starts Here */
.sidebar{
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--redVine);
    padding: 1.5rem 0 1.5rem 1.5rem;
}

.logo__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
    align-items: center;
    margin-bottom: 4rem;
}

.logo__container h2 {
    font-size: 2.2rem;
    font-weight: 900;
    margin-left: 1rem;
    color: var(--Linen);
}
.logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
}

.logo div {
    background-color: var(--Linen);
}

.logoOne{grid-area: 1 / 1 / 4 / 3;}
.logoTwo{grid-area: 4 / 1 / 6 / 3;}
.logoThree{grid-area: 1 / 3 / 3 / 5;}
.logoFour{grid-area: 3 / 3 / 6 / 5;}


.pagesCard{
    margin-bottom: 5rem;
}

.pages--styles{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
}

.pageText {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Linen);
    margin-left: 1.5rem;
    cursor: pointer;
    transition: 0.1s;
}

.pageText:hover {
    color: var(--roseHip);
    cursor: pointer;
    transition: 0.1s;
}
/* Sidebar Ends Here */

/* Header Starts Here */
.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--Linen);
    padding: 1.5rem 2rem 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    box-shadow: -1px 9px 9px 3px rgba(0, 0, 0, 0.295);
}

.searchCard{
    width: 100%;
    display: flex;
}

.searchCard__search{
    display: flex;
    align-items: center;
    width: 60%;
}

.searchCard__search input {
    width: 100%;
    border: none;
    background-color: var(--rainStorm);
    height: 2.5rem;
    border-radius: 1rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
}

.searchCard__search input:focus {
    border: var(--redVine) 0.2rem solid;
    outline: none;
    outline-offset: none;
}

.searchCard__profile{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 40%;
}

.searchCard__profile svg{
    margin-left: 1rem;
    cursor: pointer;
}


.searchCard__profile h3 {
    font-weight: 900;
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
}

.greetingCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greetingCard__text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}

.greetingCard__text p {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greetText{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.greetingCard__text h2 {
    font-size: 2rem;
    font-weight: 900;
}

.greetingCard__btns{

}

.btn{
    background-color: var(--redVine);
    border: none;
    width: 8rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 2rem;
    color: var(--Linen);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.btn:hover{
    background-color: var(--roseHip);
    color: black;
    cursor: pointer;
    transition: 0.1s;
}
/* Header Ends Here */

/* Content starts here */
.content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--rainStorm);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.content__text{
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2.6rem 0rem 0rem 0rem;
    z-index: 100;
}

.content__text--custom{
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2.6rem 0rem 0rem 1.5rem;
    z-index: 100;
}

.projectsContainer{
    grid-area: 1 / 1 / 5 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-top: 3rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.projectContentFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectMain{
    display: flex;
    background-color: var(--Linen);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.19);
    transition: 0.2s;
}

.projectMain:hover{
    cursor: pointer;
    transform: translate(0.25rem, 0.25rem) scale(1.01);
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.39);
    transition: 0.2s;
}
.projectStyle{
    background-color: var(--redVine);
    height: 100%;
    width: 2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.projectCard__text{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    line-height: 1.2rem;
}

.project__heading{
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 0.3rem;
}

.project__desc{
    font-size: 0.9rem;
    color: rgb(49, 48, 48);
}

.projectCard__icons{
    display: flex;
    justify-content: right;
    padding: 1.5rem;
}

.projectCard__icons svg{
    margin-left: 1.5rem;
    transition: 0.1s;
}

.projectCard__icons svg:hover{
    transform: scale(1.3);
    transition: 0.1s;
}
.announcementContainer{
    grid-area: 1 / 4 / 3 / 5;
}

.trendingContainer{
    grid-area: 3 / 4 / 5 / 5;
}

/* end of projects section */

/* start of announcement section */

.announcementFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    background-color: var(--Linen);
    border-radius: 0.5rem;
    padding: 1.8rem;
    margin: 4.5rem 1.5rem 1.5rem 0;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.19);
}

.announcementCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    line-height: 1.2rem;
}

.announcementCard h3 {
    font-weight: 700;
    font-size: 1rem;
}

.announcementCard p {
    font-weight: 300;
    color: rgb(49, 48, 48);
}

.line {
    width: 100%;
}

.trendingContainer{
    height: 100%;
}

.trendingFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Linen);
    border-radius: 0.5rem;
    padding: 1.8rem;
    margin: 4.7rem 1.5rem 1.5rem 0;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.19);
    height: 62%;
}

.trendingCard{
    display: flex;
    align-items: center;
}

.innerCard{
    margin-left: 1rem;
}

.innerCard h3 {
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.innerCard p {
    font-weight: 300;
    color: rgb(49, 48, 48);
}